* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-container {
    background-color: #d7e9ff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
}
 h2 {
    text-align: center;
    padding: 20px;
    font-size: 38px;
    color: #1a74bb;
    /* color: #FFFFFF; */
}
.form-container img {
    width: 650px;
}
.form-info {
    width: 400px;
    background-color: #83b9e2;
    /* background-color: #015ceb; */
    border-radius: 20px;
    padding: 40px;
}
.input-field { 
    width: 100%;
    height: 40px;
    margin: 5px;
    border: none;
    padding: 20px;
    border-radius: 20px;
}
.submit-btn {
    background-color: #1a74bb;
    border: none;
    padding: 10px 40px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin: 10px 85px;
}
.forgot-pass {
    background: none;
    border: none;
    border-bottom: 2px #015ceb solid;
    color: #015ceb;
    font-size: 16px;
    cursor: pointer;
    padding: 2px;
    margin: 10px;
}
.already-singUp {
    font-size: 16px;
    color: #FFFFFF;
    padding-left: 10px;
}
.toggle-link {
    text-decoration: none;
    color: #015ceb;
    font-size: 16px;

}
.or-part {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    
}
.or-part span {
    padding: 0px 10px;
}
.hr-line {
    width: 40%;
    background-color: #FFFFFF;
    border: 1px #FFFFFF solid; 
    border-radius: 50px;
}
.google-signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
@media screen and (max-width: 860px) {
    .form-container {
        display: block;
        justify-content: center;
    }
    .form-container img {
        width: 100%;
    }
    .form-info {
        width: 100%;
       padding: 20px;
      border-radius: 0px;
    }

}