
.banner-img {
    position: relative;
    width: 100%;
    /* background: linear-gradient(36, 20, 51, 0.873); */
    
}
.banner-info {
    position: absolute;
    top: 35%;
    left: 5%;
    width: 50%;
   
}
.banner-container h3 {
    /* text-align: center; */
    padding: 20px;
    font-size: 38px;
    color: #1a74bb;
    
}
.banner-container p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    /* text-align: justify; */
    padding-left: 15px;
}
@media screen and (max-width: 860px) {
    
    .banner-info {
        position: absolute;
        top: 14%;
        left: 5%;
        width: 95%;

       
    }
    .banner-container img{
        height: 25vh;

       
    }
    .banner-container h3 {
        font-size: 25px;
        font-weight: 300;
        padding:  5px;
        
    }
    .banner-container p {
        font-size: 16px;
        font-weight: 300;
        padding-right: 15px;
        padding-left: 0px;
         
    }
}