.services-conatiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 90px;
    grid-gap: 28px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px) { 
    .services-conatiner {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 80px;
    }
}
@media screen and (max-width: 860px) { 
    .services-conatiner {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 80px;
    }
}