.service-container {
    background-color: rgb(233, 233, 233);
    width: 28rem;
}
.image-container img {
    width: 100%;
    transition: all 0.5s linear;
}
/* .image-container img:hover {
    width: 100%;
    overflow: hidden;
    -ms-transform: scale(1);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 

  } */
.service-info {
    padding: 20px;
}
.service-container h3 {
    font-size: 19px;
    font-weight: 600;
    color: rgb(22, 22, 22);
    padding: 10px;
}
.service-container p {
    font-size: 17px;
    font-weight: 300;
    color: rgb(156, 154, 154);
    padding: 10px;
}
.service-container h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(22, 22, 22);
    padding: 10px;
}
.service-container span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(238, 141, 67);
    padding: 10px;
}
.checkout-container {
    display: flex;
    justify-content: center;
}
.checkout-btn {
    margin-top: 10px;
    padding: 10px 35px;
    border: 2px #1a74bb solid;
    font-size: 16px;
    font-weight: 500;
    color: #1a74bb;
    text-decoration: none;
}
.checkout-btn:hover {
    background-color: #1a74bb;
    color: #FFFFFF;
}
