.service-container {
    background-color: rgb(241, 240, 240);
    width: 100%;
}
.service-container .image-container  {
    width: 100%;
    border-bottom: 6px rgb(255, 255, 255) solid;
    position: relative;
}
figure {
    overflow: hidden;
}

.image-container img{
    display: block;
     width: 100%;
     height: auto;
     cursor: pointer;
  }
#zoom-in img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
    opacity: 100;
}
#zoom-in:hover img {
    transform: scale(1.5);
    opacity: 50%;
}
.plus-icon {
    font-size: 70px;
    color: #dad8d8;
    position: absolute;
    bottom: -32px;
    background-color: #FFFFFF;
    border-radius: 50px;
    left: 40%;
}
.service-info {
    padding: 20px;
}
.service-container h3 {
    font-size: 19px;
    font-weight: 600;
    color: rgb(22, 22, 22);
    padding: 10px;
}
.service-container p {
    font-size: 17px;
    font-weight: 300;
    color: rgb(54, 54, 54);
    padding: 10px;
}
.service-container h4 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(22, 22, 22);
    padding: 10px;
}
.service-container span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(238, 141, 67);
    padding: 10px;
}
.checkout-container {
    display: flex;
    padding: 10px;
    /* justify-content: center; */
}
.btn {
    margin-top: 20px;
    padding: 10px 35px;
    border: 2px #1a74bb solid;
    background: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a74bb;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    transform-origin: 0% 100%;
}
.btn:hover {
    background-color: #1a74bb;
    color: #FFFFFF;
}
@media screen and (max-width: 860px) {
    .service-container {
        background-color: rgb(233, 233, 233);
    }
}